{% load staticfiles %}

<div class="row justify-content-center" style="margin-top: 10%">
    <div class="col-md-4">
        <div class="card-group">
            <div class="card p-4">
                    <h1>Verify Token Error</h1>
                    <div class="row">
                        <div class="col-12">
                        <p id="text-msg" class="text-muted">This verify Token has been expired. Please request a new one
                            and verify it</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>