{% load staticfiles %}
<div class="row justify-content-center " style="margin-top: 10%">
    <div class="col-md-5">
        <div class="card-group">
            <div class="card p-4">
                <div class="card-body">
                    <form class="card-body" id="formpasswordresetconfirm" action="/passwordresetconfirm/{{uidb64}}/{{token}}" method="POST">
                        {% csrf_token %}
                        <h1>Change password</h1>
                        {% if user %}
                            <p class="text-muted">Set your new password for {{ username }}</p>
                        {% endif %}                        
                        <p id="text-msg" class="text-danger"></p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend input-group-addon">
                                <span class="input-group-text">
                                    <i class="icon-lock"></i>
                                </span>
                            </div>
                            <input class="form-control" placeholder="Enter your new password" id="password" name="password" type="password" required>
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend input-group-addon">
                                <span class="input-group-text">
                                    <i class="icon-lock"></i>
                                </span>
                            </div>
                            <input class="form-control" placeholder="Repeat your new password" id="confirm_password" name="confirm_password" type="password" required>
                        </div>
                        <a href="#formpasswordresetconfirm" class="btn btn-block btn-success">Change my password</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>