{% load staticfiles %}

<!-- Bootstrap and necessary plugins -->

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/pace.min.js" %}"></script>
<script src="{% static "js/toastr.min.js" %}"></script>
<script src="{% static "js/jquery.validate.min.js" %}"></script>
<script src="{% static "js/underscore.js" %}"></script>
<script src="{% static "js/backbone.js" %}"></script>

<!-- CoreUI Pro main scripts -->
<script src="{% static "js/reconnecting-websocket.min.js" %}"></script>
<!--
<script src="{% static "js/pagination.js" %}"></script>
<script src="{% static "js/taskhelper.js" %}"></script>
<script src="{% static "js/validation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
-->
<script src="{% static "js/validation.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone/app.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone/utils/utils.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone/models/models.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone/collections/collections.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone/views/views.js" %}"></script>

<!-- Add router last -->
<script type="text/javascript" src="{% static "js/backbone/router.js" %}"></script>

